[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/plugins/tpm"]
	path = applications/tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "nvm"]
	path = nvm
	url = git@github.com:nvm-sh/nvm.git
[submodule "wofi/themes/catppuccin"]
	path = applications/wofi/themes/catppuccin
	url = git@github.com:quantumfate/wofi.git
