* {
  font-family: FontAwesome, Noto Sans, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #ccc;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
  border-bottom: 3px solid #89b4fa;
  background: #313244;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}

#battery,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#workspaces,
#mpd {
    padding: 0 20px;
}

#clock {
  padding-right: 25px;
  padding-left: 10px;
}

#battery.critical:not(.charging) {
    color: red;
}

#workspaces, #window {
  padding: 0;
  margin-left: 25px;
}

#window {
  font-weight: 900; 
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button {
  color: #ddd;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0;
}

