window#osd {
  border-radius: 0px;
  border-top: 3px solid #89b4fa;
  background: #313244;
}

window#osd #container {
  margin: 16px; 
}

window#osd image,
window#osd label {
  color: #fff; 
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5; 
}

window#osd progressbar {
  min-height: 3px;
  border-radius: 0;
  background: transparent;
  border: none; 
  color: #fff;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#fff, 0.1); 
}

window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #fff; 
}
